<div class="panel panel-info student-panel-info student-panel-news">
  <div class="panel-heading">
    新闻
  </div>
</div>

<div class="panel panel-info student-panel-info student-panel-notifications">
  <div class="panel-heading">
    消息
  </div>
</div>

<div class="panel panel-info student-panel-info student-panel-latest-resumes">
  <div class="panel-heading">
    最新的职位
  </div>

  <%= render "student/show_posts" %>
</div>