<div class="panel panel-info student-panel-info">
  <div class="panel-heading">学生信息预览</div>
  <div class="panel-body"></div>

  <%= render partial:'student/overview_table', locals: {s: @target_student} %>

</div>