<div class="panel panel-info admin-panel-info">
  <div class="panel-heading">
    修改职位细分类型
  </div>

  <div class="panel-body"></div>

  <%= form_for([current_admin, @post_sub_type],
               url: admin_post_sub_type_path(@post_sub_type),
               html: {class: 'form-horizontal', role: 'form'}) do |f| %>
      <%= render partial: "post_sub_types/form", locals: {form: f} %>
  <% end %>

</div>