<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">毕业生就业信息管理系统</h3>
    <ul class="nav masthead-nav">
      <li><a href="/">主页</a></li>
      <li><a href="/introduce">介绍</a></li>
      <li class="active"><a href="/contact">联系</a></li>
    </ul>
  </div>
</div>

<div class="inner cover">
  <h1 class="cover-heading">联系</h1>
</div>