<div class="inner cover">
  <h1 class="cover-heading">登录入口</h1>

  <p class="lead">根据角色选择合适的登录入口</p>

  <p class="lead">
    <a href="/login/student" class="btn btn-lg btn-default">学生</a>
    <a href="/login/admin" class="btn btn-lg btn-default">管理员</a>
    <a href="/login/company" class="btn btn-lg btn-default">公司</a>
  </p>
</div>

