<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">毕业生就业信息管理系统</h3>
    <ul class="nav masthead-nav">
      <li><a href="/">主页</a></li>
      <li class="active"><a href="/introduce">介绍</a></li>
      <li><a href="/contact">联系</a></li>
    </ul>
  </div>
</div>

<div class="inner cover">
  <h4 class="cover-heading">学生就业管理系统是针对严峻的就业形式而开发的，以使高校就业管理部门对毕业生信息的管理更加的科学、规范、高效</h4>
</div>