<div class="panel panel-info admin-panel-info">
  <div class="panel-heading">
    添加新的公司规模
  </div>

  <div class="panel-body"></div>

  <%= form_for([current_admin, @company_scale],
               html: {class: 'form-horizontal', role: 'form'}) do |f| %>
      <%= render partial: "company_scales/form", locals: {form: f} %>
  <% end %>

</div>