<div class="panel panel-info admin-panel-info">
  <div class="panel-heading">
    添加新的学院
  </div>

  <div class="panel-body"></div>

  <%= form_for([current_admin, @subject],
               html: {class: 'form-horizontal', role: 'form'}) do |f| %>
      <%= render partial: "subjects/form", locals: {form: f} %>
  <% end %>

</div>