<div class="panel panel-info company-panel-info company-panel-news">
  <div class="panel-heading">
    新闻
  </div>
  <%= render 'news/news_table' %>
</div>

<div class="panel panel-info company-panel-info company-panel-notifications">
  <div class="panel-heading">
    职位投递消息
  </div>

  <%= render "company/show_delivers" %>
</div>

<div class="panel panel-info company-panel-info company-panel-latest-resumes">
  <div class="panel-heading">
    最新的简历
  </div>

  <%= render "company/show_resumes" %>
</div>