<div class="panel panel-info company-panel-info">
  <div class="panel-heading">公司信息预览</div>
  <div class="panel-body"></div>

  <%= render partial:'company/overview_table', locals: {c: @target_company} %>

</div>