<div class="panel panel-info company-panel-info">
  <div class="panel-heading">所有简历</div>

  <div class="panel-body">
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>编号</th>
        <th>标题</th>
        <th>日期</th>
      </tr>
      </thead>

      <tbody>

      <% index = 0 %>
      <% @resumes.each do |resume| %>
          <tr>
            <td><%= index += 1 %></td>
            <td>
              <%= link_to resume.title, student_resume_path(resume) %>
            </td>
            <td><%= resume.updated_at %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

