<div class="panel panel-info company-panel-info">
  <div class="panel-heading">编辑职位</div>

  <div class="panel-body"></div>

  <%= form_for([@company, @post],
               html: {class: 'form-horizontal', role: 'form'}) do |f| %>
      <%= render partial: "posts/form", locals: {form: f} %>
  <% end %>

</div>