/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */

.pagination {
    width: 100%;
    text-align: center;
}

.comment-box {
    padding: 30px;
}

.comment-list {
    border: 2px solid #2cde97;
    margin-top: 40px;
    border-radius: 5px;
}

.comment-list:before {
    content: " ";
    display: block;
    top: -50px;
    left: 15px;
    border: solid transparent;
    position: relative;
    width: 0px;
    height: 0px;
    border-width: 25px;
    border-bottom-color: #2cde97;
}

.comment-list p {
    color: black;
    margin-bottom: 10px;
}

.comment-list .row {
    margin-bottom: 20px;
}

.comment-profile {
    margin-top: 10px;
}

.comment-list span a {
    margin-left: 10px;
}