// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#resume-add-button{
  float: right;
}

.resume-group {
  padding: 0;
}

.resume-panel {
  background-color: #f2f2f2
}