// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.student-panel-info {
  margin-top : 20px;
  padding: 10px;
}

.student-panel-info a {
  text-align: center;
}

.student-panel-news {
}

.student-panel-notifications {
  width: 48%;
  float: left;
}

.student-panel-latest-resumes {
  width: 48%;
  float: right;
}