<div class="form-group nested-skill-field">
  <div class="col-sm-1 control-label"></div>
  <div class="col-sm-8 resume-group">
    <div class="col-sm-2">
      <%= f.text_field :title, class: "form-control",
                       :placeholder => "技能名称" %>
    </div>

    <div class="col-sm-4">
      <%= f.text_field :detail, class: "form-control",
                       :placeholder => "技能描述" %>
    </div>
  </div>

  <div class="col-sm-1">
    <% if f.object.new_record? %>
        <button type="button" class='destroy-nested-form btn-danger form-control destroy-nested-skill-field'>删除</button>
    <% else %>
        <%= link_to '删除', student_resume_skill_path(@resume, f.object), :remote => true, :method => :delete,
                    class: 'destroy-nested-form btn-danger form-control destroy-nested-skill-field' %>
    <% end %>
  </div>
</div>