<!DOCTYPE html>
<html>
<head>
  <title>毕业生就业信息管理系统</title>
  <%= stylesheet_link_tag 'bootstrap_and_overrides', 'cover', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <%= yield %>

      <div class="mastfoot">
        <div class="inner">
          <p> 欢迎访问 <a href="http://www.ntu.edu.cn/">南通大学</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>